<h1><%= @villager.villagername %></h1>

<a href="/users/show" > Home </a>

<br><br>

<a href="/villagers" > Wanna see what other villagers people have? </a>

<br><br>

    <h3><%= @villager.villagername %></h3>
    <h3><%= @villager.personality %></h3>
    <h3><%= @villager.species %></h3>


    <br><br>

    <a href="/villagers/<%= @villager.id %>/edit" > EDIT </a>
    
    <br><br>

    <h3>Remove this villager from wishlist?</h3>
        <form method="POST" action="/villagers/<%= @villager.id %>">
            <input type="hidden" id="hidden" name="_method" value="DELETE">
            <input type="submit" value="DELETE">
        </form>