<h1><%= @villager.villagername %></h1>

    <h3><%= @villager.villagername %></h3>
    <h3><%= @villager.personality %></h3>
    <h3><%= @villager.species %></h3>


    <br><br>

    <a href="/villagers/<%= @villager.id %>/edit" > EDIT </a>
    
    <br><br>